.menuBtn {
    width: 100px;
    margin-top: 20px;


}
.menuBtn:hover {
    background: #e2e2e2;


}



.logoImg {
    position: relative;
    width: 81px;
    height: 29px;
    margin-top:0px;
    display: inline-block;
}

.ziti {
    color: #000;
}

.zitisheji {
    color: #000;
    margin-top: 5px
}
.zitisheji:hover {
    color: #E91E63;
    font-size: 16px;


    border-radius: 0;
}
.zitisheji:active {
    color: #d8c5c5;
    background: #7b7b7b;

    border-radius: 0;
}
