/*


.sheji {
    width: 114px;
    text-align: center;
    color: #000;
}
.sheji:hover {
    width: 114px;
    text-align: center;
    color: #E91E63;
}


.tuPian {
    position: absolute;
    margin-top: 0;
}

.fangKuai {
    position: relative;
    width: 100px;
    color: aqua;
    background: #00b2b2；
    margin-top: 1500px;
}



.xingzuobiaoti {

    color: #C40D2E;
    font-size: 32px;
    text-align: center
}

.xingzuofubiaoti {
    font-size: 14px;
    color: #757575;
    text-align: center;
}

.tansuo {

    color: #212121;
text-align: center;
}




*/

.anniu {
    width: 160px;
     border-radius: 0;
    height: 72px;


}

.daoHangZi {
    font-size: 16px;
    margin-top: 18px;
}

#daoHangLan {
    background: #cb4a4a;
    height: 72px
}

#logo {
    background: #4c72f2;
    height: 72px;
}

#menu {
    background: #451818;
    height: 72px;
}

#1 {
   background: red;
}
